@inject UserManager<ApplicationUser> _UserManager
@inject SignInManager<ApplicationUser> _SignInManager

<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"]RPRENTAL</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/datables.bootstrap.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel" /> 
    <link rel="stylesheet" href="~/css/toaster/toaster.css" />
    <link rel="stylesheet" href="~/css/styles.css">


</head>
<body style="font-family: Abel, sans-serif;">
    <nav class="navbar navbar-expand-md sticky-top shadow bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">THE KWANO</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">              
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                    @if (_SignInManager.IsSignedIn(User) && User.IsInRole(SD.UserRole.Admin.ToString()))
                    {
                        <li class="nav-item dropdown">                     
                            <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Management</a>
                            <div class="dropdown-menu text-dark bg-dark" style="background: rgb(207, 226, 255);">
                                <a class="dropdown-item" asp-controller="Room" asp-action="Index">Room</a>
                                <a class="dropdown-item" asp-controller="RoomNumber" asp-action="Index">Room Number</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Amenity" asp-action="Index" >Amenity</a>
                                <a class="dropdown-item" asp-controller="RoomAmenity" asp-action="Index">Room Amenity</a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Booking" asp-action="Index">Booking List</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Index">Register</a>
                            </div>
                        </li>
                    }
                     @if (_SignInManager.IsSignedIn(User) && User.IsInRole(SD.UserRole.Customer.ToString()))
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Booking" asp-action="Index">Booking List</a></li>
                    }
                </ul>
                <ul class="navbar-nav mb-2 mb-md-0">
                    <li class="nav-item">
                        <label class="col-form-label fw-bold text-light" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="left" title="Approved bookings">[ <span class="text-primary">5</span> ]</label>
                    </li>
                   
                    @if (_SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">Welcome, @User.Identity!.Name</a>
                        </li>
                        <li class="nav-item">                       
                            <a class="nav-link btn-logout" href="#">Logout</a>                   
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a id="btn-login-modal" class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-register">Register</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
 

    <!-- Login Modal -->
    <div class="modal fade" id="modal-login" role="dialog" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-md" >
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white fw-bold" id="loginModalLabel">LOGIN USER</h5>                    
                </div>
                <div class="modal-body">
                    <form id="loginForm">   
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" autofocus autocomplete="off" value="rolimer_pono@yahoo.com">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" autocomplete="new-password" value="Admin@123">
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-between align-items-center">
                    <div class="forgot-password">                   
                        <a href="#" class="forgot-password fw-bold" data-bs-toggle="modal" data-bs-target="#modal-forgot-password" style="text-decoration:none;">Forgot Password?</a>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-login" style="width:100px;">Login</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:100px;">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--End Login Modal -->


    <!-- Forgot Password Modal -->
    <div class="modal fade" id="modal-forgot-password" role="dialog" tabindex="-1" aria-labelledby="forgotModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white fw-bold" id="forgotModalLabel">FORGOT PASSWORD</h5>
                </div>
                <div class="modal-body">
                    <form id="forgotPasswordForm">
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            <label class="form-label">Enter email address for recovery:</label>
                            <input type="text" class="form-control" id="forgot-email" name="forgot-email" placeholder="Enter email" autofocus autocomplete="off">
                        </div>                  
                    </form>
                </div>
                <div class="modal-footer">                 
                    <div>
                        <button type="button" class="btn btn-primary btn-forgotpassword" style="width:100px;">Reset</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:100px;">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--End Forgot Password Modal -->

    <!-- Register Modal -->
    <div class="modal fade" id="modal-register" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white fw-bold" id="registerModalLabel">REGISTER USER</h5>
                </div>
                <div class="modal-body">
                    <form id="form-add">
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" id="reg-email" name="reg-email" placeholder="Enter email" autofocus autocomplete="off" required>
                            <span id="email-validation"></span>
                          
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fullname</label>
                            <input type="text" class="form-control" id="reg-fullname" name="reg-fullname" placeholder="Enter fullname" autocomplete="off" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phone Number</label>
                            <input type="number" class="form-control" id="reg-phoneno" name="reg-phoneno" placeholder="Enter phone number" autocomplete="off" required>
                        </div>
                         <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" id="reg-password" name="reg-password" placeholder="Enter password" autocomplete="new-password" required>
                        </div>
                         <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="reg-confirmpassword" name="reg-confirmpassword" placeholder="Re-enter password" autocomplete="new-password" required> 
                        </div>                      
                     
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-register" style="width:100px;">Register</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:100px;">Close</button>                  
                </div>
            </div>
        </div>
    </div>
    <!--End Register Modal -->


    <!-- Reset Password Modal -->
    <div class="modal fade" id="modal-reset-password" role="dialog" tabindex="-1" aria-labelledby="resetModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white fw-bold" id="forgotModalLabel">RESET PASSWORD</h5>
                </div>
                <div class="modal-body">
                    <form id="resetPasswordForm">
                        @Html.AntiForgeryToken()
                        <input id="reset-token" name="reset-token" hidden />
                        <div class="mb-3">
                            <label class="form-label">Enter email</label>
                            <input type="text" class="form-control" id="reset-email" name="reset-email" placeholder="Email" autofocus autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">New Password</label>
                            <input type="password" class="form-control" id="reset-password" name="reset-password" placeholder="Password" autofocus autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="reset-con-password" name="reset-con-password" placeholder="Password" autofocus autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Enter OTP</label>
                            <input type="text" class="form-control" id="reset-OTP" name="reset-OTP" placeholder="OTP" autofocus autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-primary btn-resetpassword" style="width:100px;">Confirm</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:100px;">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--End Reset Password Modal -->

    <div class="container-fluid">
        <main role="main" class="pb-3 min-vh-100">               
            @RenderBody()            
        </main>
    </div>


    <partial name="_footer" />

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>


    <script src="~/js/bs-init.js"></script>
    <script src="~/js/Common/Common.js"></script>
    <script src="~/js/Crud/JSRegister/JSAccount.js"></script>
    <script src="~/js/Crud/JSBooking/JSBookingCrud.js"></script>
    <script src="~/js/Crud/JSBooking/JSBooking.js"></script>
    <script src="~/js/toaster/toaster.min.js"></script>
   

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
