@model Booking

<form>
    <div class="container">   
        <div class="row pt-3 border-top border-1"> 
                <div class="col-lg-6">      
                <div class="mb-3">
                    <label class="form-label">NAME</label>
                    <input type="text" class="form-control" id="formName" asp-for="@Model.UserName" disabled>
                </div>

                <div class="mb-3">
                    <label class="form-label">PHONE</label>
                    <input type="text" class="form-control" id="formPhone" asp-for="@Model.PhoneNumber" disabled>
                </div>

                <div class="mb-3">
                    <label class="form-label">EMAIL</label>
                    <input type="text" class="form-control" id="formEmail" asp-for="@Model.UserEmail" disabled>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">CHECKIN DATE</label>
                    <input type="text" class="form-control" id="formCheckinDate" asp-for="@Model.CheckinDate" disabled>
                </div>

                <div class="mb-3">
                    <label class="form-label">CHECKOUT DATE</label>
                    <input type="text" class="form-control" id="formCheckoutDate" asp-for="@Model.CheckoutDate" disabled>
                </div>

      
                <div class="mb-3">
                    <label class="form-label">NUMBER OF STAY</label>
                    <input type="text" class="form-control" id="formNoOfStay" value="@Model.NoOfStay" disabled>
                </div>
            </div>
        </div>
    </div>
</form>

