@model Booking

   
<div class="row pt-3 border-top border-1"> 
     
    <div class="col-lg-6">      
        <div class="mb-3">
            <label for="formName" class="form-label">NAME</label>
            <input type="text" class="form-control" id="formName" asp-for="@Model.USER_NAME" disabled>
        </div>

        <div class="mb-3">
            <label for="formPhone" class="form-label">PHONE</label>
            <input type="text" class="form-control" id="formPhone" asp-for="@Model.PHONE_NUMBER" disabled>
        </div>

        <div class="mb-3">
            <label for="formEmail" class="form-label">EMAIL</label>
            <input type="text" class="form-control" id="formEmail" asp-for="@Model.USER_EMAIL" disabled>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="mb-3">
            <label for="formCheckinDate" class="form-label">CHECKIN DATE</label>
            <input type="text" class="form-control" id="formCheckinDate" asp-for="@Model.CHECK_IN_DATE" disabled>
        </div>

        <div class="mb-3">
            <label for="formCheckoutDate" class="form-label">CHECKOUT DATE</label>
            <input type="text" class="form-control" id="formCheckoutDate" asp-for="@Model.CHECK_OUT_DATE" disabled>
        </div>

        @{
            var numberOfNights = 2;
        }

        <div class="mb-3">
            <label for="formNoOfStay" class="form-label">NUMBER OF STAY</label>
            <input type="text" class="form-control" id="formNoOfStay" value="@numberOfNights" disabled>
        </div>
    </div>
   
</div>

