@model Room

@{
    var priceRange = (RangeAttribute)Attribute.GetCustomAttribute(typeof(Room).GetProperty("ROOM_PRICE"), typeof(RangeAttribute));
    var occupancyRange = (RangeAttribute)Attribute.GetCustomAttribute(typeof(Room).GetProperty("MAX_OCCUPANCY"), typeof(RangeAttribute));

}


<form id="form-edit">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="border" style="max-width: 100%; height: auto;">
                    <img src="@Model.IMAGE_URL" class="img-fluid" alt="Room Image">
                </div>
                <div class="input-group pt-3">
                    <input type="file" id="imageUpload" class="form-control" asp-for="@Model.IMAGE_URL" accept="image/*">
                    <label class="input-group-text" for="imageUpload">Upload</label>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 pt-md-0 pt-3">
                <input type="text" class="form-control" hidden asp-for="@Model.ROOM_ID">
                <input type="text" class="form-control" hidden asp-for="@Model.IMAGE_URL">
                <div class="mb-3">
                    <label asp-for="@Model.ROOM_NAME" class="form-label fw-bold">Room Name:</label>
                    <input type="text" class="form-control" asp-for="@Model.ROOM_NAME" placeholder="Enter Room Name" required>
                    <div class="invalid-feedback">Please provide a room name.</div>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.DESCRIPTION" class="form-label fw-bold">Description:</label>
                    <input type="text" class="form-control" asp-for="@Model.DESCRIPTION" placeholder="Enter Description">
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ROOM_PRICE" class="form-label fw-bold">Price:</label>
                    <input type="number" class="form-control" asp-for="@Model.ROOM_PRICE" placeholder="Enter Price" required min="@priceRange.Minimum" max="@priceRange.Maximum" style="-moz-appearance: textfield;">
                    <div class="invalid-feedback">Please provide a range price of $ @priceRange.Minimum - $ @priceRange.Maximum</div>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.MAX_OCCUPANCY" class="form-label fw-bold">Occupancy:</label>
                    <input type="number" class="form-control" asp-for="@Model.MAX_OCCUPANCY" placeholder="Enter Occupancy" required min="@occupancyRange.Minimum" max="@occupancyRange.Maximum" style="-moz-appearance: textfield;">
                    <div class="invalid-feedback">Please provide a range occupancy of @occupancyRange.Minimum - @occupancyRange.Maximum.</div>
                </div>
            </div>
        </div>
    </div>
</form>

