@model Booking
@{
    var current_date = DateTime.Now.ToString("yyyy-MM-dd");  
}

<div class="container pt-5">
    <div class="row pt-5">
        <div class="col-12">
            <h1 class="text-center mb-4">THE KWANO</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>
                14 Code Street<br>
                .Net City<br>                
                0212477440<br>
                rolimerpono2010@gmail.com
            </p>
        </div>
        <div class="col-12 col-md-6 text-md-end">
            <div class="invoice-details">
                <p>
                    <span class="fw-bold">Booking ID :</span> @Model.BookingId<br>
                    <span class="fw-bold">Booking Date :</span> @Model.BookingDate.ToString("yyyy-MM-dd")<br>
                    <span class="fw-bold">Customer Name :</span> @Model.UserName<br>
                    <span class="fw-bold">Contact No :</span> @Model.PhoneNumber
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="mb-3">Dear @Model.User.Fullname,</h2>
            <p>Thank you for choosing THE KWANO! Your booking is confirmed. Kindly please see breakdown payment below. We're here for you if you need anything. Safe travels!</p>
            <p>
                Kind regards,<br>
                Rolimer Pono,
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Room Name</th>
                        <th>Price</th>
                        <th>Checkin Date</th>
                        <th>Checkout Date</th>
                        <th>No Of Stay</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Room!.RoomName</td>
                        <td>@Model.Room.RoomPrice.ToString("c")</td>
                        <td>@Model.CheckinDate</td>
                        <td>@Model.CheckoutDate</td>
                        <td>@Model.NoOfStay</td>
                        <td>@Model.TotalCost.ToString("c")</td>
                    </tr>                   
                                       
                    <tr>
                        <td colspan="5" class="text-start fw-bold">Total</td>
                        <td>@Model.TotalCost.ToString("c")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-end">
            <p>Thank you for booking with us!</p>              
        </div>
    </div>
</div>
