@{
    var status = Context.Request.Query["status"];
    if (string.IsNullOrEmpty(status))
    {
        status = "Pending";    
    }
}

<div class="container">
    <div class="row pt-3">
        <div class="col">
            <div class="text-center text-white"><h2>BOOKING LIST</h2></div>
        </div>
    </div>
    <div class="row mt-3 justify-content-end text-end">
        <div class="col-lg-7">

        </div>
        <div class="col-lg-5">
            <div class="btn-group-toggle btn-group d-flex flex-wrap" data-toggle="buttons">
                
                <a id="pending" class="btn btn-primary rounded-0" asp-controller="Booking" asp-action="Index"  asp-route-status="@SD.BookingStatus.Pending.ToString()">
                    Pending
                    <input class="btn-check" type="radio"  id="option1" autocomplete="off">
                </a>
                <a id="approved" class="btn btn-primary rounded-0" asp-controller="Booking" asp-action="Index" asp-route-status="@SD.BookingStatus.Approved.ToString()">
                    Approved
                    <input class="btn-check" type="radio" id="option2" autocomplete="off">
                </a>
                <a id="checkin" class="btn btn-primary rounded-0" asp-controller="Booking" asp-action="Index" asp-route-status="@SD.BookingStatus.Checkin.ToString()">
                    Checkin
                    <input class="btn-check" type="radio" id="option3" autocomplete="off">
                </a>
                <a id="checkout" class="btn btn-primary rounded-0" asp-controller="Booking" asp-action="Index" asp-route-status="@SD.BookingStatus.Checkout.ToString()">
                    Checkout
                    <input class="btn-check" type="radio" id="option4" autocomplete="off">
                </a>
                <a id="cancelled" class="btn btn-primary rounded-0" asp-controller="Booking" asp-action="Index" asp-route-status="@SD.BookingStatus.Cancelled.ToString()">
                    Cancelled
                    <input class="btn-check" type="radio" id="option5" autocomplete="off">
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <table id="tbl_Bookings" class="table table-bordered table-hover text-start" style="border: 1px thin #ccc;">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>Booking ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Checkin Date</th>
                        <th>Checkout Date</th>
                        <th>No of Stay</th>
                        <th>Total Cost</th>
                        <th class="text-center"></th>                       
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Booking Modal -->
<div class="modal fade" id="modal-booking" tabindex="-1" aria-labelledby="modalbookingDetails" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white fw-bold" id="modalbookingDetails">BOOKING DETAILS</h5>
            </div>         
            <div class="pt-3" id="modal-booking-content"></div>

            <div class="modal-footer">

            
                @if (status.ToString().ToLower() == SD.BookingStatus.Pending.ToString().ToLower() || status.ToString().ToLower() == SD.BookingStatus.Approved.ToString().ToLower())
                {
                    <div class="col-auto">
                        <button type="button" class="btn btn-danger btn-cancel" style="width:120px;">Cancel Booking</button>
                    </div>
                }

                <div class="col"></div> 

                <div class="col-auto">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:100px;">Close</button>
                </div>
               
                @if (status.ToString().ToLower() == SD.BookingStatus.Pending.ToString().ToLower() && (User.IsInRole(SD.UserRole.Admin.ToString())))
                {
                <div class="col-auto">
                    <button type="button" class="btn btn-primary btn-payment" style="width:100px;">Payment</button>
                    </div>
                }

              
                @if (status.ToString().ToLower() == SD.BookingStatus.Approved.ToString().ToLower() && User.IsInRole(SD.UserRole.Admin.ToString()))
                {
                <div class="col-auto">
                    <button type="button" class="btn btn-primary btn-checkin" style="width:100px;">Check-In</button>
                </div>
                }               

                @if (status.ToString().ToLower() == SD.BookingStatus.Checkin.ToString().ToLower() && User.IsInRole(SD.UserRole.Admin.ToString()))
                {
                <div class="col-auto">
                    <button type="button" class="btn btn-primary btn-checkout" style="width:100px;">Check-Out</button>
                </div>
                }              

            </div>


        </div>
     
    </div>
</div>
<!--End Booking Modal -->



@section Scripts {
    <script src="~/js/Common/Common.js"></script>
    <script src="~/js/Crud/JSBooking/JSBooking.js"></script> 
}